/* GLOBAL */
body{
	font-family: Tahoma,Verdana,Segoe,sans-serif; 
}


/* HOME PAGE */
img { 
	width:480px;
}

h1 { 
	color: navy;
	margin-left: 20px;

}

/* BIO PAGE */
.bio h2, .bio h3 {
	font-family: Arial Narrow,Arial,sans-serif; 
}

.bio h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}


/* STYLE TILE */