/* GLOBAL */
h1,
h2,
h3 {
	font-family: 'Roboto Condensed', sans-serif;
}

p, 
body{
	font-family: 'Roboto Slab', serif;
	line-height: 2em;
}

/* NAV */
nav a:link,
nav a:visited {
  color: #3B7F00;
  text-decoration: none;
}


nav a:focus {
  border: 2px #F3FFE2;
}

nav a:hover,
nav a:active {
  background: #ACF0F2;
}


/* HOME PAGE */
img { 
	width:480px;
}

h1 { 
	color: navy;
	margin-left: 20px;

}

/* BIO PAGE */
.bio h2, 
.bio h3 {
	font-family: Arial Narrow,Arial,sans-serif; 
	text-align: left;
}

.bio h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}

.bio article{
	background: teal;
	margin: 0 auto 0 auto;
	width: 1000px;
}

.bio section {
	float: left;
	width: 500px;

}

.bio article {
	background: red;
	margin: 0 auto 0 auto;
	width: 1000px;
}

header {
	width: 100%;
}

.bio-content,
.resume-contnt {
	float: left;
}

.bio-content{
	width: 300px;
}

.resume-content {
	width: 700px;
}

.clearfix {
	float: none;
}

footer {
	float: left;
}

/* STYLE TILE */